################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FinalProject/FileContentIndex/71b26b40-61a1-471a-935f-b2f939a0ed76.vsidx
/.vs/FinalProject/FileContentIndex/779759c7-35a8-433d-b2b9-253cabbf9d2f.vsidx
/.vs/FinalProject/FileContentIndex/81934f37-af1d-44f6-b8e5-eba432dcc898.vsidx
/.vs/FinalProject/FileContentIndex/95cd7569-8053-4279-bd8d-7aa9e1fbddf3.vsidx
/.vs/FinalProject/FileContentIndex/9e36bcb7-03cd-43a7-b786-e2739e7a102b.vsidx
/.vs/FinalProject/FileContentIndex
